@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');

body {
  font-family: 'Rum Raisin', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}
